/*colors
#E8E5DA
#1B512D
#291F1E
#477998
#26A96C

#04AA6D
*/


/*-----------------------NAV BAR--------------------------------------------*/



/* Add a black background color to the top navigation */
.topnav {
  background-color: #fff;
  overflow: hidden;
  margin-top: 0;
  border-bottom: solid 3px #26A96C;
  font-family: 'Comfortaa';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 39px 55px;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
  
  
}

/* Add an active class to highlight the current page */
.active {
  background-image: linear-gradient(#fff,#26A96C);
  color: white;
}



/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}


/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #333;
  padding: 39px 55px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  font-family: 'Montserrat Alternates'; /*Comfortaa'*/
  font-weight: 400;
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 34px 55px;
  text-decoration: none;
  font-size: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  
}


/*---------------------BODY----------------------------------------------*/



body {
  background-color: #fff;
  
  /*setting all margins to 0 overrides browser defaults and allows the nav bar to be at the very top/sides*/
  margin: 0 0 0 0;
  width: 100%;
  /*page will be intentionally overflowed so need to set the scroll*/
  overflow-y: scroll;
}

#container {
  /* setting this max width based on web desing best practices */
  max-width: 1920px;
  margin: auto;
}


/*---------------------INTRO----------------------------------------------*/



.intro, .grid-container, .map-title {
  width:100%;
  margin: 0 auto;
}

.intro {
  /*180 is header height (100) + top and bottom padding (40+40) meaning I want this section to take up 90% of the space available between the navbar and the full viewport height, leaving a small gap of 7vh whic is equal to the map title below */
  height: calc(93vh - 180px);
  padding: 40px 0px 40px 0px;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  border-bottom: 2px solid #291F1E;
  /* background-image: linear-gradient(#fff,#04AA6D); */
  
}


/*---------------------MAP----------------------------------------------*/


.map-title {
  /*setting the heights for the map title, map/sidebar, and footer so that together they add to 100% vh*/
  min-height:10vh;
  /*apparently this is a hack to center the text in the containter, set the line-height equal to the div height*/
  /* line-height: 10vh; */
  background-color: #fff;
  /*padding: 40px 0px; no need for padding, setting the line height and div height*/
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-weight:400;
  color: #291F1E;
  text-align: center;
  /*default font size is usually 16, 1.875*16=30px*/
  font-size: 2.5em;
  margin: auto;
  
  
}

.grid-container {
  /*Using grid displays simplifies setting divs side by side, any child elements will be set in a grid, so to speak*/
  display: grid;
  /*the first grid element in the html (in this case the .map)  will be twice as wide as the seond grid element (the sidebar)*/
  grid-template-columns: 1fr 3fr;
  /*the grid widths will automatically adjust to compensate for any gap created here*/
  grid-gap: 0px;
  /*the height here can be auto, dicated by child elements*/
  height: auto;
  margin-bottom: 1vh;
}  

.map {
  text-align: center;
  background-color: #333;
  font-size: 36px;
  /*setting the heights for the map title, map/sidebar, and footer so that together they add to 100% vh*/
  min-height: 86vh;
}

.sidebar{
  text-align: center;
  background-color: #666;
  font-size: 36px;
  /*setting the heights for the map title, map/sidebar, and footer so that together they add to 100% vh*/
  min-height: 86vh;
}

/*---------------------INFOSEC---------------------------------------------*/


.infosec-grid-container{
  width: 100% ;
  padding: 40px 0 40px 0;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 1.25em;
  background-color: #fff;
  border-bottom: 2px solid #291F1E;

  /*Using grid displays simplifies setting divs side by side, any child elements will be set in a grid, so to speak*/
  display: grid;
  /*the first grid element in the html (in this case the .map)  will be twice as wide as the seond grid element (the sidebar)*/
  grid-template-columns: 0.5fr 3fr 1fr;
  /*the grid widths will automatically adjust to compensate for any gap created here*/
  grid-gap: 0px;
  /*the height here can be auto, dicated by child elements*/
  height: auto;
  
}


.infosec-main-content{
 /* setting this max width bc design website says max width people can read in one column is about 1300px */
  max-width: 1300px;
}



.infosec-thumbnail, .infosec-image {
  max-width:90%;
  height:auto;
}




/*---------------------FOOTER----------------------------------------------*/



footer {
  /*setting the heights for the map title, map/sidebar, and footer so that together they add to 100% vh*/
  min-height: 5vh;
  font-size: 36px;
  border-top:#04AA6D solid 3px;
}

