

h3 {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-weight:400;
  font-size: 1.5em;

}


/*-----------------------NAV BAR--------------------------------------------*/
/* below are the properties for the navbar */



/* Styles for the navbar */
.topnav {
  /* background for the navbar is white */
  background-color: #fff;
  /* overflow for the navbar is hidden, no scrolling as it shouldn't ever be neeed */
  overflow: hidden;
  /* set the top margin to 0 so it is flush with the title div */
  margin-top: 0;
  /* Set font to our chosen font */
  font-family: 'Comfortaa';
  /* align the text center in the div */
  text-align:center;
  /* allow the navbar div to fill 100% of the available screen width.  This ensures that first the links will always be centered in the webpage */
  width: 100%;
  /* set the height of the navbar to 4% of the viewport height, allowing this to be a dynamic height that will be responsive to mobile screens */
  height: 4vh;
  /* add a box shadow and bottom padding purely for aesthetic reasons */
  box-shadow: 0 8px 8px #777;
  margin-bottom: 12px;



}

/* Style the links inside the navigation bar */
.topnav a {
  /* display is inline for navbar links as we want them side by side and not as blocks */
  display: inline;
  color: #999;
  /*set the line height to the same height as the topnav div height and then set the top and bottom margins/padding equal to each other to center the text vertically*/
  line-height: 4vh;
  padding: 2vh 2vw;
  text-decoration: none;
  font-size: 1em;
  /* allow the font to inherit from the div, reduces repetition */
  font-family: inherit;
  text-align: center;


}

/* Add an active class to highlight the current page */
/* this class will be added to the correct link on each page to show the user which page they are on */
a.active {
  color: #000;
  font-family: 'Montserrat Alternates'; /*Comfortaa'*/
  font-weight: 400;

}

/* Add a dark background on topnav links and the dropdown button on hover (note, no drowdown used) */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}



/* THE FOLLOWING STYLES WERE REMOVED BECAUSE WE DIDN'T END UP USING A DROPDOWN, THEY CAN BE ACTIVATED IF  NEEDED */


/* Dropdown container - needed to position the dropdown content
.dropdown {
  float: left;
  overflow: hidden;
}


/* Style the dropdown button to fit inside the topnav */
/* .dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #333;
  padding: 39px 55px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

} */

/* Style the dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 160px;*/
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

/*Style the links inside the dropdown */
/* .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */


/* Add a grey background to dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
} */

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
/* .dropdown:hover .dropdown-content {
  display: block;
} */





/*---------------------BODY----------------------------------------------*/



body {
  background-color: #fff;

  /*setting all margins to 0 overrides browser defaults and allows the nav bar to be at the very top/sides*/
  margin: 0 0 0 0;
  width: 100%;
  /*page will be intentionally overflowed so need to set the y-scroll*/
  overflow-y: scroll;
}

#container {
  /* setting this max width based on web desing best practices */
  max-width: 1000px;
  /* setting the margin auto on this main container will center it in the window */
  margin: auto;

}


/*---------------------INTRO (not used for now)-----------------------------*/


/*
.intro, .grid-container {
  width:100%;
  margin: 0 auto;
}

.intro {
  /*180 is header height (100) + top and bottom padding (40+40) meaning I want this section to take up 90% of the space available between the navbar and the full viewport height, leaving a small gap of 7vh whic is equal to the map title below */
  /* height: calc(93vh - 180px); */
  /* padding: 40px 0px 40px 0px;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  border-bottom: 2px solid #291F1E; */
  /* background-image: linear-gradient(#fff,#04AA6D);

} */


/*---------------------MAP and legend ----------------------------------*/


.map-title {
  /* setting the minimum height to ensure it is visible on all screens */
  min-height:10vh;
  background-color: #000;
  /* setting the diplay to flex box allows easy center and vertical alignment of child elements, but for the horizontal to work this div must be 100% width of the webapage (i.e. the main axis) */
  display: flex;
  /* this aligns child elements along the cross (vertical) axis */
  align-items: center;
  /* this aligns child elements along the main axis */
  justify-content: center;

}

#map-title-subdiv {
  /* image must be placed in a subdiv child element of the container for flex to work */
  /* note that setting margin to 0 auto would have worked for the container, but you cannot change the background color of the margin because it is outside of the box model therefore to change the header background color, must use a subdiv and flexbox to center instead of margin */
  width:100%;
  height: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right:1vw;
  /* the max width must be set here instead of the parent container */
  max-width:1000px;

}

.grid-container {
  /*Using grid displays simplifies setting divs side by side, any child elements will be set in a grid, so to speak*/
  display: grid;
  /*the first grid element in the html (in this case the .map)  will be twice as wide as the seond grid element (the sidebar)*/
  grid-template-columns: 1fr 4fr;
  /*the grid widths will automatically adjust to compensate for any gap created here*/
  grid-gap: 0px;
  /*the height here can be auto, dicated by child elements*/
  height: auto;
  margin-bottom: 1vh;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}


.map {
  /*setting the height for the map in pixels rather than a responsive vh ensures that the map aspect ratio will remain the same on all screens*/
  height: 800px;
}

.sidebar{
  text-align: center;
  /*setting the height for the map and sidebar in pixels rather than a reponsive vh ensures taht the map aspect ration will be the same on all screens and more importantly it ensures that the user will be able to scroll past the map on a mobile device
  if the map takes up 100% of the vh, then the mobile user cannot scroll to the content below, they will simply change the map view.  Modern mobile devices all have more than 800px of height */
  max-height: 800px;
  /* using css flex here to center the sidbar pill links vertically within the sidebar, evenly spaced */
  display: flex;
    /* setting flex direction to columns stacks the sidebar links vertically in the div */
    flex-direction: column;
    /* setting the justify to "space between" places equal space between each link to center them vertically */
    justify-content: space-between;


}

#learn-more {
  background-color:#000;
  color: #fff;


}

.sidebar-pill{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    font-size: 1em;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    display: block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 1em;
    text-decoration: none;


}

.sidebar-pill:hover {
  /* setting the hover to display slighlty differently to tell user that it is a link */
  text-decoration: underline;
}

/*---------------------INFOSEC---------------------------------------------*/



.infosec-grid-container{
  /* the "container" div is used to set the max width of the website, this div is a first child of the "container div" and needs to be 100% of the available width */
  width: 100% ;
  padding: 40px 0 40px 0;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;

  font-size: 1.25em;
  background-color: #fff;
  border-bottom: 2px solid #291F1E;

  /*Using grid displays simplifies setting divs side by side, any child elements will be set in a grid, so to speak*/
  display: grid;
  /*the first grid element in the html (in this case the .map)  will be twice as wide as the seond grid element (the sidebar)*/
  grid-template-columns: 0.5fr 3fr 1fr;
  /*the grid widths will automatically adjust to compensate for any gap created here*/
  grid-gap: 20px;
  /*the height here can be auto, dicated by child elements*/
  height: auto;

}


.infosec-main-content{
 /* setting this max width bc design website says max width people can read in one column is about 1300px */
  max-width: 1300px;
  text-align: left;
}

.infosec-right-content {
  text-align: center;
}



.infosec-thumbnail, .infosec-image {
  /* setting the images to be 90 of their available column with to add some blank space to their sides for aesthetics */
  max-width:90%;
  height:auto;


}


/*---------------------About Us----------------------------------------------*/

.about-me{
  width: 100% ;
  padding: 40px 0 40px 0;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;

  font-size: 1.25em;
  background-color: #fff;
  border-bottom: 2px solid #291F1E;

  /*Using grid displays simplifies setting divs side by side, any child elements will be set in a grid, so to speak*/
  display: grid;
  /*the first grid element in the html (in this case the .map)  will be twice as wide as the seond grid element (the sidebar)*/
  /*the about me sections are the same as the info sections, with the small change of removing the first thumbnail image by setting the first column width to 0 here*/
  grid-template-columns: 0fr 3fr 2fr;
  /*the grid widths will automatically adjust to compensate for any gap created here*/
  grid-gap: 20px;
  /*the height here can be auto, dicated by child elements*/
  height: auto;

}

/*---------------------For small screens----------------------------------------------*/

/*this small screen css needs to be at the bottom of the cascade bc the specificity of the declarations is the same as the declarations
for the larger screen.  When that happens, the latter declaration in the cascade will override the former. Therefore if I put this above the
other CSS, it will be overwritten by the normal css for large screens, regardless of the @media query, as long as the declarations are the same */
@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .grid-container {
    /* change from display grid to display flex and flex flow: column to move the "sidebar" below the map  */
    display: flex;
    flex-flow: column;
    /* keep the height to auto, designated by the map height, and width to 100%, maybe change to 90 to allow scroll */
    height:auto;
    width: 100%;
    border-top: 2px solid #262626;
    margin-bottom: 1vh;

  }
  .sidebar {
    /* set the column order of the sidebar which is now display flex column, to position 2, below the map */
    order:2;
  }
  .map {
    /* set the column order of the map, which is now display flex column, to position 1 above the sidebar */
    order:1;
    /* change map height less than mobile screen height to make sure mobile user can scoll below the map rather than getting stuck on the map*/
    height: 500px;
  }

  .sidebar-pill{
    margin: 2px 20px;
  }

  .infosec-grid-container{
    grid-template-columns: 0.5fr 3fr 0.5fr;
  }


  .infosec-thumbnail, .infosec-image {
    display:none;

}

.about-us{
  grid-template-columns: 0fr 3fr 1fr;
}

}

/*-------------------------------------------------------------------*/




/*---------------------FOOTER----------------------------------------------*/



footer {

  text-align: center;
  min-height: 3vh;
  font-size: 14px;
  /* border-top:#04AA6D solid 3px; */
}
